<template>
  <article class="overflow-hidden rounded-lg shadow-lg">
    <img loading="lazy" :alt="puppy.name" class="block h-auto w-full cursor-pointer" :src="puppy.imgUrl" @click="getPuppies(puppy.route)" />
    <header class="text-center leading-tight p-3">
      <div class="bone">
        <div class="c1"></div>
        <div class="c2"></div>
        <div class="c3"></div>
        <div class="c4"></div>
        <div class="b1">
          <div class="b2">
            <h1 class="text-lg text-black" v-html="highlight(puppy.name)"></h1>
          </div>
        </div>
      </div>
    </header>
  </article>
</template>

<script>
import { mapGetters } from 'vuex'
import _isEmpty from 'lodash/isEmpty'

export default {
  props: {
    puppy: {
      type: Object,
      default: () => ({
        imgUrl: '',
        name: '',
        route: ''
      })
    }
  },
  computed: {
    ...mapGetters(['highlight']),
  },
  methods: {
    getPuppies(route) {
      const [breed, puppySubBreed] = route.split("-")
      let params = breed

      if (!_isEmpty(puppySubBreed)) {
        params = params + `/${puppySubBreed}`
      }
      this.$router.push({ path: `breeds/${params}` })
    }
  }
}
</script>