<template>
  <section>
    <client-only>
      <div v-masonry transition-duration="1.5s" item-selector=".item" gutter="10">
        <div v-for="(puppyImg, index) in filteredList" :key="index" v-masonry-tile class="item">
          <wish-list-card :puppy-img="puppyImg"></wish-list-card>
        </div>
      </div>
      <template slot="placeholder">
        <loading></loading>
      </template>
    </client-only>
  </section>
</template>

<script>
import WishListCard from './WishListCard.vue'
export default {
  components: { WishListCard },
  props: {
    puppiesImages: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      trigger: 350,
      display: 15,
      offset: 15
    }
  },
  computed: {
    filteredList() {
      // this.$redrawVueMasonry()
      return this.puppiesImages.slice(0, this.display)
    }
  },
  mounted() {
    window.addEventListener("scroll", this.scroll);
  },
  methods: {
    scroll() {
      if (
        window.innerHeight + window.scrollY >=
        document.getElementById("masonry-puppies").clientHeight - this.trigger
      ) {
        if (this.display < this.puppiesImages.length) {
          this.display += this.offset
        }
      }
    }
  }
}
</script>

<style>

</style>