<template>
  <header 
    id="header" 
    class="bg-white border-b md:flex md:items-center md:justify-between p-4 md:pb-4 pb-0 shadown-lg z-50 fixed w-full top-0 transition-all transform ease-in-out duration-500">
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
      <h1 class="leading-none text-2xl text-grey-darkest">
        <a class="no-underline text-grey-darkest hover:text-black" href="/">
          <font-awesome-icon :icon="['fas', 'dog']"/> Perritos
        </a>
      </h1>

      <button class="flex items-center md:hidden text-gray-500 w-10 h-10 relative focus:outline-none bg-white" @click="open = !open">
        <span class="sr-only">Abrir menu</span>
        <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
          <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
          <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
        </div>
      </button>
    </div>
    <!-- END Logo text or image -->
    
    <!-- Search field -->
    <form class="mb-4 w-full md:mb-0 md:w-1/4" @submit.stop.prevent="searchBy(search_text)">
      <label class="hidden" for="search-form">Buscar por raza</label>
      
      <button class="hidden">Submit</button>
      <div v-click-outside="closeEvent" class="relative">
        <input 
          v-model="search_text" 
          class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" 
          autocomplete="off" 
          placeholder="Buscar por raza" 
          type="search" 
          @focus="showList = !showList"
          />
        <div v-show="showList" class="absolute z-10 w-full mt-1 bg-white rounded-md shadow-lg">
          <transition-group 
            name="flip-list" 
            tag="ul" 
            class="py-1 overflow-auto text-base leading-6 rounded-md shadow-xs max-h-60 focus:outline-none sm:text-sm sm:leading-5"
            tabindex="-1">
            <li
              v-for="(item, index) in filteredSearchList" 
              :key="index + '-' + index"
              role="option"
              class="relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9"
              @click="searchBy(item)">
              <span class="block font-normal truncate">
                <font-awesome-icon icon="arrow-right" /> {{ item }}
              </span>
            </li>
            <li
              v-for="(item, index) in filteredBreedList" 
              :key="index.text + '-' + index"
              role="option"
              class="relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9"
              @click="selectOption(item.value)">
              <span class="block font-normal truncate" v-html="highlight(item.text)"></span>
            </li>
          </transition-group>
        </div>
      </div>
    </form>
    <!-- END Search field -->
    
    <!-- Global navigation -->
    <nav id="menu" class="md:flex hidden">
      <ul class="list-reset md:flex md:items-center">
        <li class="md:ml-4">
          <NuxtLink 
            to="/breeds" 
            class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0">
            <font-awesome-icon class="text-yellow-800" :icon="['fas', 'paw']"/> Razas
          </NuxtLink>
        </li>
        <li class="md:ml-4">
          <NuxtLink 
            to="/randoms" 
            class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0">
            <font-awesome-icon :icon="['fas', 'hotdog']"/> Aleatorios
          </NuxtLink>
        </li>
        <li class="md:ml-4">
          <NuxtLink 
            to="/wishlist" 
            class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0">
            <font-awesome-icon class="text-red-600" :icon="['fas', 'heart']"/> Favoritos
          </NuxtLink>
        </li>
      </ul>
    </nav>
    <!-- END Global navigation -->
  </header>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import _isEmpty from 'lodash/isEmpty'

Vue.directive('click-outside', {
  bind(el, binding, vNode) {
    // Provided expression must evaluate to a function.
    if (typeof binding.value !== 'function') {
      const compName = vNode.context.name
      let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
      if (compName) { warn += `Found in component '${compName}'` }
      
      console.warn(warn)
    }
    // Define Handler and cache it on the element
    const bubble = binding.modifiers.bubble
    const handler = (e) => {
      if (bubble || (!el.contains(e.target) && el !== e.target)) {
        binding.value(e)
      }
    }
    el.__vueClickOutside__ = handler
    // add Event Listeners
    document.addEventListener('click', handler)
  },
  
  unbind(el, binding) {
    // Remove Event Listeners
    document.removeEventListener('click', el.__vueClickOutside__)
    el.__vueClickOutside__ = null
  }
})

export default {
  data() {
    return {
      open: false,
      showList: false,
      search_text: ''
    }
  },
  computed: {
    ...mapGetters([
      'searchText',
      'text_breed_list',
      'search_list'
    ]),
    filteredBreedList() {
      const searchText = this.search_text.toLowerCase()
      let data = this.text_breed_list
      if (searchText !== '') {
        data = data.filter((dog) =>
          dog.text.toLowerCase().includes(searchText)
        )
      }
      return data.slice(0, 5)
    },
    filteredSearchList() {
      const list = this.search_list
      return list.slice(Math.max(list.length - 5, 0))
    }
  },
  watch: {
    open() {
      const menu = document.getElementById("menu")
      menu.classList.toggle("hidden")
    },
  },
  methods: {
    ...mapActions(['setSearchList']),
    searchBy(text = '') {
      this.showList = false
      const searchList = JSON.parse(localStorage.getItem('searchList') || '[]')
      if (!_isEmpty(text)) {
        searchList.push(text)
        localStorage.setItem('searchList', JSON.stringify(searchList || []))
        this.setSearchList(searchList)
      }
      this.$router.push({ path: "/breeds", query: { search_text: text } })
    },
    selectOption(option) {
      this.showList = false
      const [breed, puppySubBreed] = option.split("-")
      let params = breed

      if (!_isEmpty(puppySubBreed)) {
        params = params + `/${puppySubBreed}`
      }
      this.$router.push({ path: `/breeds/${params}` })
    },
    closeEvent() {
      this.showList = false
    },
    highlight(word) {
      const filterText = this.search_text;

      if (
        filterText !== ""
      ) {
        const regex = /[-[]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g
        const iQuery = new RegExp(
          filterText.replace(regex, "\\$&"),
          "ig"
        );
        return word
          .toString()
          .replace(
            iQuery,
            (matchedTxt, a, b) =>
              (`<span class="text-white bg-blue-400">${matchedTxt}</span>`)
          );
      } else {
        return word;
      }
    },
  }
}
</script>
<style>
.flip-list-move {
  transition: transform 1s;
}
.flip-list-enter-active,
.flip-list-leave-active {
  transition: opacity 0.6s;
}

.flip-list-enter,
.flip-list-leave-to {
  position: absolute;
  opacity: 0;
}
</style>
