<template>
  <article class="overflow-hidden rounded-lg shadow-lg max-w-sm mb-4 bg-white hover:shadow-2xl hover:scale-105 transform transition-all duration-500 cursor-pointer">
    <div class="p-4" @click="addWishlistPuppy">
      <img loading="lazy" alt="Dog" class="rounded-xl block h-auto w-full" :src="puppyImg" />
    </div>
    <header v-show="selected" class="text-center leading-tight p-3">
      <div class="flex justify-center pb-4">
        <div class="flex items-center">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-600 hover:text-red-500" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
            </svg>
          </span>
        </div>
      </div>
    </header>
  </article>
</template>

<script>
export default {
  props: {
    puppyImg: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      selected: false
    }
  },
  mounted() {
    const wishList = JSON.parse(localStorage.getItem('wishList') || '[]')
    if (wishList.includes(this.puppyImg)) {
      this.selected = true
    }
  },
  methods: {
    addWishlistPuppy() {
      // get the wishlist and check if the image is in there
      const wishList = JSON.parse(localStorage.getItem('wishList') || '[]')
      if (!wishList.includes(this.puppyImg)) {
        this.selected = true

        wishList.push(this.puppyImg)
        localStorage.setItem('wishList', JSON.stringify(wishList || []))
        this.$nextTick(() => {
          this.$redrawVueMasonry()
          this.$forceUpdate()
        })
      }
    }
  }
}
</script>
