<template>
  <div id="masonry-puppies">
    <client-only>
      <div class="text-center mt-4">
        <h1 class="py-5 text-2xl font-semibold text-gray-800 md:text-4xl"><font-awesome-icon icon="bone" /> Lista de razas <font-awesome-icon icon="bone" /></h1>
      </div>
      <div v-masonry transition-duration="0.5s" item-selector=".item">
        <div v-for="puppy in breed_list" :key="puppy.value" v-masonry-tile class="item">
          <doggie-card
            class="max-w-sm m-4 bg-white" 
            :puppy="puppy">
          </doggie-card>
        </div>
      </div>
      <template slot="placeholder">
        <loading></loading>
      </template>
    </client-only>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DoggieCard from '~/components/DoggieCard.vue'
import Loading from '~/components/Loading.vue'

export default {
  components: {
    DoggieCard,
    Loading
  },
  data() {
    return {
      trigger: 350
    }
  },
  head() {
    return {
      title: `Lista de perritos`
    }
  },
  computed: {
    ...mapGetters({
      filteredBreedList: 'filteredBreedList',
      display: 'display',
      breedListLength: 'breedListLength'
    }),
    breed_list() {
      return this.filteredBreedList.map((breed) => ({
        imgUrl: breed.thumbnail,
        name: breed.text,
        route: breed.value
      }))
    }
  },
  watch: {
    '$route.query.search_text'(val) {
      this.handleSearch(val)
      this.$redrawVueMasonry()
    }
  },
  mounted() {
    const searchText = this.$route.query.search_text || ''
    this.handleSearch(searchText)
    
    window.addEventListener("scroll", this.scroll);
    
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$redrawVueMasonry()
    }
  },
  methods: {
    ...mapActions([
      'handleSearch',
      'incrementDisplay'
    ]),
    scroll() {
      if (
        window.innerHeight + window.scrollY >=
        document.getElementById("masonry-puppies").clientHeight - this.trigger
      ) {
        if (this.display < this.breedListLength) {
          this.incrementDisplay();
        }
      }
    }
  },
}
</script>
