<template>
  <div id="masonry-puppies">
    <loading v-if="!dataReady"></loading>
    <template v-else>
      <div class="text-center mt-4">
        <h1 class="py-5 text-2xl font-semibold text-gray-800 md:text-4xl">
          <font-awesome-icon class="text-red-600" :icon="['fas', 'heart']"/> Los favoritos <font-awesome-icon class="text-red-600" :icon="['fas', 'heart']"/>
        </h1>
      </div>
      <masonry-wish-list :puppies-images="puppiesImages"></masonry-wish-list>
    </template>
  </div>
</template>

<script>
import MasonryWishList from '~/components/MasonryWishList.vue'
export default {
  components: { MasonryWishList },
  data() {
    return {
      puppiesImages: [],
      dataReady: false
    }
  },
  head() {
    return {
      title: 'Lista de favoritos'
    }
  },
  async mounted() {
    const data = await this.getWishlist()
    this.puppiesImages = data
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$nextTick(() => {
        this.$redrawVueMasonry()
      })
    }
    this.dataReady = true
  },
  methods: {
    getWishlist() {
      return JSON.parse(localStorage?.getItem('wishList') || '[]')
    }
  },
}
</script>

<style>

</style>