<template>
  <div class="flex flex-col h-screen text-gray-800 break-words">
    <Nav />
    <main class="mx-7 lg:mx-6 mt-32">
      <div class="max-w-7xl mx-auto">
        <nuxt />
      </div>
    </main>
  </div>
</template>

<script>
import Nav from '~/components/Nav.vue'
export default {
  components: {
    Nav
  }
}
</script>