<template>
  <div id="masonry-puppies">
    <loading v-if="$fetchState.pending"></loading>
    <template v-else>
      <div class="text-center mt-4">
        <h1 class="py-5 text-2xl font-semibold text-blue-600 md:text-4xl">Bienvenid@<br /><span class="ml-2 text-gray-800 text-2xl">a la página donde los perritos harán que tu <font-awesome-icon class="text-red-600" :icon="['fas', 'heart']"/> se estremezca de ternura.</span></h1>
      </div>
      <masonry-wish-list :puppies-images="puppiesImages"></masonry-wish-list>
    </template>
  </div>
</template>

<script>
import MasonryWishList from '~/components/MasonryWishList.vue'
import API from '~/middleware/API'
export default {
  components: { MasonryWishList },
  data() {
    return {
      puppiesImages: []
    }
  },
  async fetch() {
    const data = await API.getRandomImages(15)
    this.puppiesImages = data
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$nextTick(() => {
        this.$redrawVueMasonry()
      })
    }
  },
}
</script>
