<template>
  <div id="masonry-puppies">
    <loading v-if="$fetchState.pending"></loading>
    <template v-else>
      <div class="text-center mt-4">
        <h1 class="py-5 text-2xl font-semibold text-gray-800 md:text-4xl">
          <font-awesome-icon class="text-yellow-800" :icon="['fas', 'paw']"/> Perritos de raza {{ breed }} <font-awesome-icon class="text-yellow-800" :icon="['fas', 'paw']"/>
        </h1>
      </div>
      <masonry-wish-list :puppies-images="puppiesImages"></masonry-wish-list>
    </template>
  </div>
</template>

<script>
import MasonryWishList from '~/components/MasonryWishList.vue'
import API from '~/middleware/API'
export default {
  components: { MasonryWishList },
  data() {
    return {
      breed: '',
      subBreed: '',
      puppiesImages: []
    }
  },
  async fetch() {
    const data = await API.getPuppyImages(this.$route.params.breed, null)
    this.puppiesImages = data
    this.breed = this.$route.params.breed
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$nextTick(() => {
        this.$redrawVueMasonry()
      })
    }
  },
  head() {
    return {
      title: `Perritos de raza ${this.breed}`
    }
  }
}
</script>

<style>

</style>